### ACC 628 (Introduction to Accounting Analytics)

## Lending Club Python Example; Data Analytics for Accounting, Chapter 1

In [ ]:
# import Pandas data library into Python
# Pandas library contains a number of useful tools to work with tabular data
import pandas as pd

In [ ]:
# file path to the input file with data
# text values are enclosed in quotes (or double quotes)
input_file = 'RejectStats_NoMissingData.csv'

In [ ]:
# read the contents of the csv file into Pandas dataframe (table)
df = pd.read_csv(input_file, low_memory = False)
# if reading an excel file, change to 
# df = pd.read_excel(input_file)

In [ ]:
# describe the variables of the dataframe
df.info()

In [ ]:
# show the first five rows of the dataframe
df.head(5)

In [ ]:
# display observation count statistics by DTI Bucket
df['DTI Bucket'].value_counts()

In [ ]:
# display observation count statistics by DTI Bucket
df.groupby('DTI Bucket').agg({'Rejected Loans':'count'})

In [ ]:
# display observation count statistics by Employment Length
df['Employment Length'].value_counts()

In [ ]:
# display observation count statistics by Risk Score
df['Risk Score Bucket'].value_counts()

In [ ]:
# for each value of Risk Score Bucket, display the average Debt-to-Income ratio
df.groupby(['Risk Score Bucket'])['Debt-To-Income Ratio'].mean()

In [ ]:
# alternative syntax
df.groupby(['Risk Score Bucket']).agg({'Debt-To-Income Ratio':'mean'})

In [ ]:
# FOR INTERACTION (ALL POSSIBLE PAIRS) OF DTI BUCKET AND EMPLOYMENT LENGTH, DISPLAY COUNT STATISTICS
df.groupby(['DTI Bucket','Employment Length']).size()

In [ ]:
# alternative syntax
df.groupby(['DTI Bucket','Employment Length']).agg({'Rejected Loans':'count'})

In [ ]:
# DISPLAY COUNT STATISTICS FOR INTERACTION OF DTI BUCKET, RISK SCORE BUCKET, AND EMPLOYMENT LENGT 

# uncomment the below line to show all rows
# pd.set_option('display.max_rows', None)
df.groupby(['DTI Bucket','Risk Score Bucket','Employment Length']).agg({'Rejected Loans':'count'})

### Example of unstructured (text) data analysis

In [ ]:
# SHOW TEN MOST COMMON TITLES OF REJECTED OF LOANS

# convert loan titles to lowercase )so that "home_improvement" is equivalent to "Home_Improvement".
df['Loan Title'] = df['Loan Title'].str.lower()

In [ ]:
# first, for each loan title values, calculate number of observations
# second, display ten loan titles with the highest observation counts
df['Loan Title'].value_counts().nlargest(10)